<div class="login-form-group super-form-default-style">
  <h1 class="text-center super-text-primary" [innerHtml]="staticText?.auth?.login?.title"></h1>
  <form class="flex-column-between" [formGroup]="loginForm">
    <super-input [superInputFormGroup]="loginForm" superInputFormControlName="username"
      [superInputLabel]="staticText?.auth?.login?.input_label_1" [superInputPrefixIconShow]="true"
      superInputPrefixIcon="person" [superInputPlaceholder]="staticText?.auth?.login?.input_label_1"
      [superInputErrorText]="loginForm.get('username')?.errors?.['validation_msg']"></super-input>

    <super-input [superInputFormGroup]="loginForm" superInputFormControlName="passsword"
      [superInputLabel]="staticText?.auth?.login?.input_label_2"
      [superInputType]="_common.togglePasswordType ? 'text' : 'password'"
      [superInputPlaceholder]="staticText?.auth?.login?.input_label_2" [superInputSuffixIconShow]="true"
      [superInputSuffixIcon]="_common.togglePasswordType ? 'visibility' : 'visibility_off'"
      [superInputSuffixIconEvent]="_common.togglePassword"
      [superInputErrorText]="loginForm.get('passsword')?.errors?.['validation_msg']"></super-input>

    <super-button [superButtonLabel]="staticText?.auth?.login?.btn_label" (superButtonEvent)="submit()"></super-button>
  </form>
</div>